spanning-tree mode rapid-pvst
no spanning-tree optimize bpdu transmission
spanning-tree extend system-id
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree etherchannel guard misconfig
spanning-tree loopguard default
{% if switch_type == "access" %}
spanning-tree priority 32768
{% elif switch_type == "core" %}
spanning-tree priority 0
{% endif %}